<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nueva Carrera</h1>

    <form method="post" action="{% url 'nueva_carrera' %}">
        {% csrf_token %}
        <p>Nombre Carrera: <input type="text" id="nombre" name="nombre"></p>
       <!-- <input type="reset" value="limpiar"> -->
        <p>Duracion: <input type="number" id="duracion" name="duracion"></p>
        <p>Codigo: <input type="number" id="codigo" name="codigo"></p>
        <button type="submit">Enviar</button>
        
    </form>
</body>
</html>